.header {
  width: 100%;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;  /* autoで中央寄せ */
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.main {
  display: block;  /* Internet Explorerでもブロック要素として表示させるために */
  float: left;  /* sidemenuと横並びにするために */
  width: 660px;
}

.sidemenu {
  float: right;  /* mainと横並びにするために */
  width: 275px;
}

.footer {
  width: 100%;
}




.header, .main, .sidemenu, .footer {
  border: 1px solid #aaa;
  background-color: #ccc;
}
.header, .footer {
  height: 100px;
}
.main, .sidemenu {
  height: 500px;
}